{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Alpha Beep Boop ....</title>
  </head>
  <body>
    <h1>Andrew Alpha Beep Boop ...</h1>
    <video id="videoElement" autoplay></video>
    
    <button id="captureButton">Capture Frame</button>
    <button id="uploadButton">Upload Image</button>

    <form id="myForm">  
      <div id="capturedFrame", type="file"></div>
    </form>

    <!-- <div id="capturedFrame"></div> -->

    <script src="{% static 'andrew_alpha.js' %}"></script>
  </body>
</html>
